:root {
  font-size: 16px;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0;
}

dl {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.center {
  margin: 0 auto;
}

.main {
  position: relative;
}
