.hero {
  max-width: 61.875rem;
  height: 50rem;
  position: relative;
  margin-bottom: 11.25rem;

  background: url("../assets/desktop/image-hero.jpg") no-repeat right,
    var(--almost-black);
}

.hero-snippet {
  max-width: 69.375rem;
  justify-content: space-between;
  gap: 20.25rem;
  position: absolute;
  top: 11.875rem;
  left: 11.5rem;
}

.hero-snippet h1 {
  display: inline-block;
  background: linear-gradient(to right, white 64%, black 36%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-snippet__content {
  flex-direction: column;
  gap: 4rem;
}

.hero-snippet__content p {
  max-width: 24ch;
}
