.hero {
  max-width: 61.875rem;
  height: 50rem;

  background: url("../assets/desktop/image-hero.jpg") no-repeat right,
    var(--almost-black);
}

.hero-snippet {
  max-width: 69.375rem;
  justify-content: space-between;
  gap: 20.25rem;
  position: absolute;
  top: 11.875rem;
  left: 11.5rem;
  max-width: max-content;
}

.hero-snippet h1 {
  display: inline-block;
  background: linear-gradient(to right, white 64%, black 36%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-snippet__content {
  flex-direction: column;
  gap: 4rem;
}

.hero-snippet__content p {
  max-width: 24ch;
}

@media screen and (max-width: 768px) {
  .hero {
    background: url("../assets/tablet/image-hero.jpg") no-repeat;
  }

  .hero-snippet {
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    position: absolute;
    top: 9.0625rem;
    left: unset;
    right: 4.625rem;
    margin: unset;
  }

  .hero-snippet h1 {
    color: var(--almost-black);
    font-size: 4.375rem;
    line-height: 4.0625rem;
  }

  .hero-snippet p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .hero-snippet__content {
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    background: url("../assets/mobile/image-hero.jpg") no-repeat;
  }

  .hero-snippet {
    top: 17rem;
    gap: 2rem;
  }

  .hero-snippet__content {
    gap: 2rem;
  }

  .hero-snippet h1 {
    font-size: 3.75rem;
    line-height: 3.4375rem;
  }
}
