.map-container {
  background-image: url("../assets/desktop/image-map.png");
  height: 600px;
  position: relative;
}

.map-container header {
  max-width: 69.375rem;
}

.middle-location {
  background-color: var(--almost-black);
  color: var(--white);
}

.middle-container {
  grid-template-columns: 1fr 1fr;
  max-width: 69.375rem;
  padding-top: 6.5rem;
  padding-bottom: 8rem;
}

.middle-container h1 {
  max-width: 7ch;
}

.middle-content h2 {
  color: var(--gold);
  padding-bottom: 1.5rem;
}

.address {
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .map-container {
    background-image: url("../assets/tablet/image-map.png");
  }

  .map-container a {
    margin-left: 2.4375rem;
  }

  .middle-container {
    grid-template-columns: auto 1fr;
    column-gap: 4.25rem;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
  }

  .middle-container,
  .footer-location-content {
    max-width: 43rem;
  }

  .middle-container h1 {
    font-size: 3.4375rem;
    line-height: 3.125rem;
  }

  .middle-content h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .middle-content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 34ch;
  }
}

@media screen and (max-width: 600px) {
  .map-container {
    background-image: url("../assets/mobile/image-map.png");
  }

  .map-container a {
    margin-left: 0;
  }

  .middle-container {
    grid-template-columns: 1fr;
    max-width: 21.4375rem;
    row-gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
  }

  .middle-container h1 {
    max-width: 11ch;
    font-size: 3.125rem;
    line-height: 2.8125rem;
  }

  .middle-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }

  .middle-content h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: unset;
  }

  .address {
    padding-bottom: unset;
  }
}
